modules = ["elixir-1_18.2"]
run = "mix test"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "mix phx.server"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 38804915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix phx.server"
