modules = ["elixir-1_18.2", "nodejs-20"]
run = "mix test"

[nix]
channel = "stable-24_05"
packages = ["elixir"]

[deployment]
run = ["sh", "-c", "mix phx.server"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 38804915

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "MIX_ENV=dev mix phx.server"

[[workflows.workflow]]
name = "Dev"
author = 38804915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --prefix assets && npm run deploy --prefix assets"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix deps.get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "MIX_ENV=dev mix phx.server --no-halt"

[[ports]]
localPort = 4005
externalPort = 80
